*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

 


.navbar{
    position: absolute;
    top: 0;
    margin-left: 800px;
    display: inline-flexbox;
    text-align: right;
}
.navbar a:hover{
    background: orangered;
}
.navbar ul{
    margin-top: 30px;
   
    list-style: none;
    padding-bottom: 20px;
    margin-right: 190px;
    
    
}
.navbar ul li{
    display:inline-block;
    margin-left: 50px;
    font-size: 33px;
    font-weight: bolder;
    

}
a{
    text-decoration: none;
    color: rgb(0, 9, 16);
}


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 5px;
    padding-right: 25px;
    
    
}

.header{
    position: relative;
    padding: auto;
}
.header img{
     
    width: 100%;
    height: 600px;
    object-fit:cover;
}
.container h{
    font-size:35px;
    color:rgba(220, 19, 66, 0.905);
    position: absolute;
    top: 0;
    margin-left: -10px;
    margin-top: 20px;
    border: 2px solid white;
    background-color: aqua;
    border-radius: 5px;
    height: 52px;
    width: 17%;
    padding-top: 6PX;
    padding-left: 20px;
    font-weight: bolder;
    box-shadow: 4px tomato;
    
}
.container{
    display: flexbox;
   
}

.discription{
    position: absolute;
    top: 0;

}
.discription h{ 
    color: rgb(97, 40, 28);
    font-size: 25px;
    
    
    margin-left: 10%;
    margin-top: 20px;
}
.discription p{ 
    color: rgba(219, 210, 209, 0.86);
    
    padding: 10px;
    margin-top: 200px;
    width: 100%;
    margin-left: 8%;
    font-size: 60px;
}
.button{
    
    background-color: orange;
    color: aliceblue;
    font-size: 30px;
    height: 60px;
    width: 30%;
    padding: 13px;
    margin-left: 10%;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;
    display:inline-block;
}
.button:hover{
    background-color: blueviolet;
}
.facts h2{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}
.facts p{
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
}
span{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.row{
    text-align: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
    font-weight: bolder;
    margin-left: 90px;
    
}
.row-1  h{
    color: crimson;
    margin-left: 90px;
    font-size: 40px;
    font-weight: bolder;
    
}
.row-1  h1{
    margin-left: 90px;
}
.row-1 img{
    height: 80px;
    width: 25%;
    margin-left: 90px;
}
.features-jobs{
    align-items: center;
    text-align: center;
    margin-top: 20px;

}
.features-jobs h{
    
    font-size: 40px;
    font-weight: bolder;
}
.features-jobs p{
    font-size: 30px;
    margin-top: 5px;

}
.coloums{
    
    display: flex;
    margin-top: 40px;
    
}
.row-2 img{
    height: 170px;
    width: 230px;
    padding: 17px;
    border: 2px solid;
    
    
}
.row-2{
    height: 160px;
    width: 90px;
    
    margin-left: 200px;
}
.row-2 h3{
    display: flex;
    font-size: 30px;
    text-align: center;
    margin-left: 45px;
}
.btn{
    border: 2px solid rgb(240, 238, 236);
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    font-weight: bolder;
    background-color: orange;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 17px;
    height: 40px;
    width: 130px;
    
    display:inline-block;
    cursor: pointer;
}
.btn:hover{
    background:blueviolet;
}
.button:hover{
    background-color: blueviolet;
}
.row{
    display: flex;
    align-items: center;
    
    justify-content: space-around;
}
.footer{
    background-color: #000;
    margin-left: -25px;
    margin-right: -25px;
    color: #8a8a8a;
    font-size:14px;
    padding-bottom: 30px;
   margin-top: 300px;
  
    
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 10px;
    font-size: 40px;

}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    
    margin-bottom: 20px;
    margin-left: 70px;
    justify-content: space-between;

}
.footer-col-1{
    flex-basis:30%;
    
}

.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    
    margin-bottom:20px;
}
.footer-col-3, .footer-col-4{
    flex-basis:12%;
    text-align: center;
    font-size: 20px;
}
ul{
    list-style-type:none;
}
.app-logo img{
    margin-top: 10%;
    border: 2px solid #d7cbc9;
    
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 2px;
    margin: 20px 0;
}
.copyright
{
    text-align: center;
    font-size: 40px;
    
   
}

p1{
    font-size: 35px;
    color: darkviolet;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.col-2 h1{
    font-size: 35px;
    color: crimson;
    
}
.row{
    padding: 90px;
}
.row h2{
    font-size: 60px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: brown;
    margin-left: 340px;
    
    
}
<!-----Employemnet Register-------->



.section h1{
    color: blue;
    font-size: 900px;
    
}
	

.section{
	padding: 10%;
    padding-bottom: 20px;
    background: rgb(233,127,21);
    background: linear-gradient(0deg, rgba(233,127,21,1) 0%, rgba(15,214,158,0.9251050762101716) 100%);
    display: flex;
    justify-content: space-between;
    
}
.section p{
    color: rgb(3, 0, 9);
    font-size: 25px;
    margin-top: 30px;
    justify-content: space-between;
    
}
.section img{
	border-radius: 5px;
	margin: 3rem 170 0 0;
    justify-content: space-around;
   
}
.text h3{
    color: red;
    font-style: italic;
    margin-top: 12px;
}
.btns{
    border: 2px solid rgb(240, 238, 236);
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    font-weight: bolder;
    background-color: orange;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 17px;
    height: 40px;
    width: 130px;
    
    
    cursor: pointer;
}

.form-fill{
    text-align: center;
    font-size: 30px;
    margin: 31px 70px 67px 180px;
    max-width: 80%;
    background-color: #b09f9c;
    padding: 35px;
    border-radius: 5px;
    
    
}
.form-fill h{
    font-size: 40px;
    color: rgb(85, 0, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.form-fill p{
    font-size: 27px;
}
input, textarea{
    width: 80%;
    border: 2px solid black;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
.btns:hover{
    background:blueviolet;
}
.form-main{
    width: 100%;
    }

.submitMsg{
    font-size: 25px;
    color: #df0a0a;
}
<!--------about-------->


.section h1{
    color: blue;
    font-size: 900px;
    
}
	

.about{
	padding: 10%;
    padding-bottom: 20px;
    background-image: url("img/.about.jpg");
  background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    
}
.about p{
    color: rgb(3, 0, 9);
    font-size: 25px;
    margin-top: 30px;
    justify-content: space-between;
    
}
.about img{
	border-radius: 5px;
	margin: 3rem 170 0 0;
    justify-content: space-around;
   
}
.text h3{
    color: rgb(93, 0, 255);
    font-style: italic;
    margin-top: 12px;
}

.team h5{
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #df0a0a;
    margin-top: 70px;

}
.col-4{
    margin-top: -30px;
}
.team p{
    text-align: center;
    font-size: 40px;
    color: #333;
}
.col-4 h6{
    text-align: center;
    font-size: 20px;
    color: #000;
}
.col-4 h5{
    text-align: center;
    font-size: 25px;
    color: #cd1800;
    margin-top: -1px;
    
}
.col-4 img{
    height: 350px;
    width: 300px;
    border-radius: 5px;
}




<!----------contactus----------->

.about-section h5{
    font-size: 40px;
}
.about-section h6{
    font-size: 20px;
}
.location h4{
	font-size: 30px;
	color: #b12513;
	text-align: center;
	margin-top: 40px;
    padding-bottom: 40px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.item-location{
    align-items: center;
    
}
.location-one{
    display: flex;
    
    padding-left: 90px;
    padding-right: 90px;
    
    margin-left: 320px;
}
.place h6{
    font-size: 24px;
    padding-bottom: 10px;
}
.place h5{
    font-size: 14px;
    color: rgb(213, 12, 12);
    
}
.place{
    margin-right: 200px;
    flex-wrap: wrap;
}
.australia{
    padding-left: 28px;
}
.ghana{
    padding-left: 73px;
    
}
.about-u h6{
    font-size: 70px;

}